# ignore output folder
**/output/

# ignore build folder
**/build/

# ignore executable files
*.exe

# ignore text files
*.text

# ignore vscode editor setting
.vscode

# ignore trail file :: file for testing new concepts
trial.cpp